﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ER Chain</h1>
    <p class="lead">Проект, созданный для регистрации записей в электронную трудовую книжку</p>

        <p><a href="~/Account/Registration" class="btn btn-primary btn-lg">Зарегистрируйтесь, чтобы продолжить &raquo;</a></p>
</div>

<div class="row">
   <div class="col-md-4 pic"> 
        @*<h2>Простота и надежность</h2>*@
        @*<p img src="images/img_news_352092_id26603.png" alt="...">*@
           <p >

         
        </p>
       @*<p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/%D0%91%D0%BB%D0%BE%D0%BA%D1%87%D0%B5%D0%B9%D0%BD">Читать далее &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Простота и надежноть</h2>
        <p>Здесь написан какой-то текст про технологию блокчейн</p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/%D0%91%D0%BB%D0%BE%D0%BA%D1%87%D0%B5%D0%B9%D0%BD">Читать далее &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>