﻿@model WebApplication1.Models.LogInModel

@{
    ViewBag.Title = "LogIn";
}

<h2>Вход в систему</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div class="container col-lg-12 spacer"></div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.inn_code, "ИНН", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.inn_code, new { htmlAttributes = new { @class = "form-control", placehoder = "ИНН организации" } })
            @Html.ValidationMessageFor(model => model.inn_code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, "Пароль", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Войти" class="btn btn-primary btn-sm" />
        </div>
    </div>
</div>
}
