﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 150px;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
.spacer {
    margin-top: 2%;
    margin-bottom: 2%;
}

.block {
    height: 300px;
    padding-top: 15px;
    }

.block2 {
    min-height: 160px;
    padding-top: 15px;
}

.center {
    position:absolute ;
    /*  top: 0;
  bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    /* Set padding to keep content from hitting the edges */
}
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
